# .dockerignore

# Ignore the node_modules directory
node_modules

# Ignore log files
*.log

# Ignore temporary files
*.tmp

# Ignore the build directory
build

# Ignore any local configuration files
*.local

# Ignore the .env file
.env

# Ignore the .git directory
.git

# Ignore the README.md file
README.md